head
  title alex&laura2015

template(name='layout')
  +yield

template(name='splash')
  .wrapper
    .header
      if currentUser
        a(href="{{pathFor 'guests'}}") Guestlist
    .body
      .center
        h1 Alex & Laura
        h2 25 JULY 2015
        a(href='{{pathFor "details"}}')    Details
        a(href='{{pathFor "guestLogin"}}') RSVP