head
  title alex&laura2015
  meta(name='viewport' content='width=device-width')

template(name='layout')
  +yield

template(name='splash')
  aside
    .title
      h1 Alex & Laura
      h2 25 JULY 2015
      a.btn.x(href='{{pathFor "details"}}') Details
      a.btn.x(href='{{pathFor "guestLogin"}}') RSVP