@import 'jeet'

// Setup

global-reset()

//edit()

*, *:before, *:after
  box-sizing border-box
  
hr
  margin 0
  
// Fonts

body
  font-family verdana sans-serif
  
// Headers

h1, h2, h3
  margin 10px 0
  
h1
  font-size 2em
  
h2
  font-size 1.6em
  
h3
  font-size 1.3em
  
// Paragraph
  
p
  line-height 1.3em
  
// Links
  
a
  text-decoration none
  cursor pointer
  
// Form Elements

label
  display block
  
input, textarea
  font-size 1em
  margin 10px 0
  padding 3px
  
textarea
  size 80%
  
select
  font-size 1em 
  margin 10px 0
  
// Layout

html, body
  height 100%

.wrapper
  position relative
  height 100%
  
headerFooterLayout(header-size, footer-size)
  .header   
    position fixed
    width 100%
    height header-size
    line-height header-size
    box-shadow 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26)
  
    & > *
      height 100%
      display inline-block
      padding 0 20px
  
  .body
    height 100%
    padding header-size 0 footer-size 
    clearfix()
  
  .footer
    position absolute
    bottom 0 
    width 100%
    height footer-size   
    
headerFooterLayout(50px, 100px)

asideArticleLayout(aside-width)
  aside, article
    float left
    height 100%

  aside
    width aside-width
    
  article
    width calc(100% - 250px)
    
asideArticleLayout(250px)
    
// Navigation

nav.side a
  display block
  line-height 50px
  padding-left 25px
  
nav.side a:hover
  background silver 
  
// Variables

primary = black
primaryInvert = invert(primary)
  
// Buttons

.btn
  display block
  padding 8px
  color primary
  border 2px solid
  text-align center
  cursor pointer
  transition background 0.3s ease 
  
.btn:hover
  color primaryInvert
  border 2px solid primary
  background primary
  
.x
  display inline-block
  
// Utility Classes
.p25
  padding 25px
  
// Spec

.title
  width 205px
  margin 0 auto
  .btn
    width 99px
    
.home .btn
  width 250px

// Tests

+below(683px)
  [id^="velocity"]
    display none
