@import 'jeet'

global-reset()

*, *:before, *:after
  box-sizing border-box

body
  font-family verdana sans-serif
  
hr
  margin 0
  
h1
  font-size 2em
  
p
  line-height 1.3em
  
a
  text-decoration none
  cursor pointer
  color blue

a:hover
  color darkblue
  
button
  cursor pointer
  
input, textarea
  font-size 1em
  margin 10px 0
  padding 3px
  
textarea
  size 80%
  
select
  font-size 1em 
  margin 10px 0
  
headerFooterLayout(header-size, footer-size)
  html, body
    height 100%

  .wrapper
    position relative
    height 100%
    
  .header   
    position fixed
    width 100%
    height header-size
    line-height header-size
    a
      height 100%
      display inline-block
      padding 0 20px
 
  .body
    padding header-size+(header-size/2) 20px footer-size
    height 100%
  
  .footer
    position absolute
    bottom 0 
    width 100%
    height footer-size   
    
headerFooterLayout(50px, 100px)

.menu a
  display block
  padding 10px 0

.l3
  col(1/4)
  
.l9
  col(3/4)
