template(name='guestbook')
  .wrapper
    .header
      a(href='/#{home}') &lsaquo;
      | Guestbook
      if currentGuest
        a#guestbookPostNew Sign
      hr


    .body
      +guestbookTemplate