template(name='guestLogin')
  .wrapper
    .header
      a(href="{{pathFor 'splash'}}") &lsaquo;
      | Sign In
    
    .body
      article
        form
          p Please enter the ticket number written on your invitation.
          input(name='ticket' placeholder='Number' autocomplete='off')