template(name='guestPage')
  .wrapper
    .header
      a(href="{{pathFor 'splash'}}") &lsaquo;
      span Welcome #{name}
      a(href="{{pathFor 'details'}}") Details
      a(href="{{pathFor 'guestbook'}}") Guestbook 

    .body.home
      +guestPageTemplate
        