template(name='guestPage')
  .wrapper
    .header
      a(href="{{pathFor 'splash'}}") &lsaquo;
      | Welcome #{name}
      a(href="{{pathFor 'details'}}") Details
      a(href="{{pathFor 'guestbook'}}") Guestbook 

    .body
      article
        if pending
          p Thank you for going online!
        unless accepted
          if declined
            p.
              We're so sorry you can't make it! 
              You can come back here at any time in case your plans change.
          a#Accepted.set-status I can make it!
        unless declined
          if accepted
            p.
              Wonderful!
            a Are you bringing anyone?
            br
          a#Declined.set-status I can't make it!
        