template(name='guestDetailsEdit')
  .wrapper
    .header
      a(href="{{pathFor 'guestDetails'}}") &lsaquo;
      | Edit Guest Details
      hr

    .body
      .label Name
      input(name='name' value='#{name}' placeholder='Enter name')

      .label Ticket
      input(name='ticket' value='#{ticket}' placeholder='Enter ticket')

      .label Status
      select(name='status')
        option(selected="{{equals status 'Pending'}}") Pending
        option(selected="{{equals status 'Accepted'}}") Accepted
        option(selected="{{equals status 'Declined'}}") Declined

      .label Dietary Requests
      input(name='diet' value='#{diet}' placeholder='#{diet}')

      .label Additional Guests
      +each guestRequests
        +guestRequest

      br
      a.save Save
      a.delete Delete
