template(name='guests')
  .wrapper
    .header
      a(href="{{pathFor 'splash'}}") &lsaquo;
      unless currentUser
        +loginButtons
      else 
        | Guests

    if currentUser
      .body
        aside
          .p25
            form.new-guest
              input(name='name' placeholder='Add Guest' autocomplete='off')

        article
          .p25
            input.search(placeholder='Search Guests' autocomplete='off')
            
            table
              thead
                tr
                  th Name
                  th Ticket
                  th Status
              tbody
                +each guests
                  +guest