template(name='guestLogin')
  .wrapper
    .header
      a(href="{{pathFor 'splash'}}") &lsaquo;
      | Sign In
    
    .body
      form.login
        p Please enter the ticket number written on your invitation.
        input(name='ticket' placeholder='Number' autocomplete='off')