template(name='guestPageRequestDetails')
  form.guest-request.p25
    h2 Guest Request Details
    label Name:
    input(name='name' value='#{friend.name}' placeholder='Enter a name')
    a#guestPageHome.btn.set-template Cancel
    br
    a.btn Save
    br
    a.btn.danger Delete