template(name='guestDetails')
  .wrapper
    .header     
      a(href='{{pathFor "guests"}}') &lsaquo;
      | Guest Details
      a(href='{{pathFor "guestDetailsEdit"}}') Edit

    .body
      article
        p Name: #{name}
        p Ticket: #{ticket}
        p Status: #{status}
        br
