template(name='guestPageRequest')
  form.p25
    label Name
    input(name='name' placeholder='Name of guest')
    label Relationship
    input(name='relationship')
    .btn Submit
    br
    #guestPageHome.btn.set-template  Cancel