template(name='details')
  .wrapper
    .header
      a(href='/#{home}') &lsaquo;
      | Details

    .body
      aside
        nav.side
          a#detailsGeneral General
          a#detailsDirections Directions
          a#detailsPanAmGames Pan Am Games
          a#detailsAccomodations Accomodations
          a#detailsContact Contact

      article
        +detailsTemplate